* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Tomorrow, sans-serif;

}
.header {
    width: 100%;
    margin-top: 56px;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.logo {
    width: 25%;
    float: left;
}
#navigation {
    float: right;
    width: 75%;
}
#navigation li a{
    color: white;
    font-size: 23px;
}
#navigation li {
    float: left;
    list-style-type: none;
    margin-left: 60px;
    position: relative;
}
#navigation ul{
    float: right;
    margin-top: 30px;
}
#navigation ul>li:hover .submenu {
    display: block;
}
#navigation ul li .submenu {
    top: -1px;
    left: 0;
    padding-top: 30px;
    position: absolute;
    width: 250px;
    display: none;
    background: rgba(0,0,0,0.2);
}
#navigation ul li .submenu li{
    margin-left: 0;
    width: 100%;
}
#navigation ul li .submenu li a{
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px dotted white;
}
body {
    background: #eeefff url(../images/body_bg.png) no-repeat center top;
    background-color: #eeefff;
    background-image: url(../images/body_bg.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.services{
    display: inline-block;
    width: 100%;
    margin-top: 240px;
    margin-bottom: 110px;
}
.s-item {
    width: 25%;
    float: left;
    background: rgba(27, 33, 115, 0.9);
    padding: 60px 40px 50px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-shadow: 2.2px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2.2px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2.2px 10px 5px 0px rgba(0,0,0,0.75);
}
.image-holder{
    text-align: center;
    width: 185px;
    height: 185px;
    margin: 0 auto;
    background-color: #2f39aa;
    border-radius: 50%;
    margin-bottom: 20px;
}
.image-holder img {
    padding-top: 36px;
}
.s-item h2{
    color: white;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}
.s-item p{
    color: white;
    font-size: 18px;
    font-weight: normal;
}
.s-item a{
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.s-item a:before{
    content: "\2228";
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
.services-tabs {
    float: left;
    width: 100%;
    background: white;
}
.services-tabs ul.tabs {
    float: left;
    width: 100%;
}
.services-tabs ul.tabs li {
    float: left;
    width: 24.8%;
    list-style-type: none;
    margin-right: 2px;
}
.services-tabs ul li a {
    font-size: 16px;
    color: #2f39aa;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 75px 20px 65px 20px;
    background: #e1e3ff;
    transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    -webkit-transition: all 250ms;
}
.services-tabs ul li:nth-child(4) {
    margin-right: 0;
}
.services-tabs ul li:last-child(){
    margin-right: 0;
}
.services-tabs ul li a.active{
    background: white;
}
.services-tabs ul li a:hover {
    background: white;
    color: black;
    background: white;
    transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    -webkit-transition: all 250ms;
}
.panel {
    float: left;
    width: 100%;
    display: flex;
}
.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 45px;
}
.col h2 {
    font-size: 25px;
    color: #2f39aa;
    font-weight: normal;
    margin-bottom: 20px;
}
.col h3 {
    font-size: 14px;
    color: #2f39aa;
    font-weight: normal;
    margin-bottom: 20px;
}
p {float: left;
    font-size: 12px;
    color: black;
    margin-bottom: 15px;
}
.col ul li {
    font-size: 12px;
    text-align: left;
    list-style-position: inside;
    list-style-type: decimal;
}
.col ul {
    margin-bottom: 20px;
}
.col img {
    max-width: 100%;
    margin-top: 20px;
}
.tabs-holder{
    float: left;
    width: 100%;
    background: #eeefff;
}
.about{
    float: left;
    width: 100%;
    min-height: 50vh;
    display: flex;
}
.about .half-window {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.heading-two{
    font-size: 30px;
    color: white;
    background-image: url(../images/h2_icon.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    padding-top: 40px;
    margin-bottom: 22px;
}
.blue-section{
    padding-top: 70px;
    background: url(../images/blue_bg.jpg) no-repeat center top;
    background-size: cover;
}
.inside-div{
    float: right;
    width: 590px;
    position: absolute;
    right: 0;
    padding-right: 115px;
    box-sizing: border-box;
}
.inside-div p {
    color: white;
}
.half-window img {
    max-width: 100%;
}
.team{
    background-color: white;
}
.spacing {
    float: left;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}
.team h2 {
    color: black;
    background-image: url(../images/h2_icon_green.png);
}
.team-holder{
    display: flex;
}
.team-holder .t-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.team-holder .t-col img {
    max-width: 100%;
}
.team-holder .t-col .img-holder{
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
.team-holder .t-col .img-holder::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,255,0.5);
}
.team-holder h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.contact-s {
    background: url(../images/bg-footer.jpg) no-repeat center center;
    background-size: cover;
}
.contact-s h2 {
    background-image: url(../images/h2_icon_green.png);
}
.contact-s h4 {
    color: #0accb0;
    font-weight: normal;
}
.contact-s p{
    color: white;
    padding-right: 60px;
}
.contact-s .col {
    padding: 0;
}
.contact-s .contact-col {
    display: flex;
}
.contact-col .col {
    flex-direction: column;
    width: 100%;
}
address {
    font-style: normal;
}
form textarea,
form input {
    width: 100%;
    border: none;
    padding: 30px 25px 20px;
    margin-bottom: 3px;
    background: rgba(93, 93, 93, 0.2);
    color: white;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
}
form textarea::placeholder,
form input::placeholder {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
form textarea {
    height: 255px;
    resize: none;
}
form textarea:focus,
form input:focus {
    outline: 1px dotted orange;
}
form button {
    margin: 20px;
    background: #0accb0;
    width: 85%;
    border: 0;
    padding: 25px 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
}
form {
    position: relative;
}
.contact-s .p-left {
    padding-left: 45px;
}
.p-left a {
    color: white;
    width: 160px;
    margin-bottom: 22px;
    display: inline-block;
}
.p-left ul li {
    display: inline-block;
    margin-right: 0;
}
.p-left ul li a {
    display: inline-block;
    width: 55px;
    height: 55px;
    text-indent: -99999em;
    background-image: url(../images/image-sp.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.p-left ul li a.linkedin-icon {
    background-position: -80px 0;
}
footer {
    background-color: black;
}
footer p.copyright {
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    /*display: inline-block;*/
    margin-top: 15px;
}
.navigation {
    float: right;
    margin-top: 15px;
}
.navigation li {
    display: inline-block;
    margin-left: 40px;
}
.navigation li a {
    font-size: 14px;
    color: white;
}
.navigation li:first-child {
    margin-left: 0;
}

/*Start test-form*/
.test-form {
    margin-top: 100px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.test-form label {
    color: white;
}
fieldset {
    color: white;
}

/* RWD */
@media  only screen and (max-width: 728px){
    .container {
        width: 100%;
        padding: 0 15%;
        box-sizing: border-box;
    }
    .logo img{
        max-width: 100%;
    }
    .header {
        margin-top: 15px;
    }
    #navigation {
        display: none;
    }
    .services {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .s-item {
        width: 50%;
        padding: 20px 20px 44px;
    }
    .image-holder {
        width: 100px;
        height: 100px;
    }
    .image-holder img {
        max-width: 50%;
        padding-top: 27px;
    }
    .s-item h2 {
        font-size: 18px;
    }
    .s-item p {
        font-size: 13px;
    }
    .s-item a {
        font-size: 12px;
        left: 20px;
    }
    .services-tabs ul.tabs li {
        width: 50%;
        margin-right: 0;
    }
    .services-tabs ul.tabs li a {
        min-height: 40px;
        padding: 20px;
    }
    .services-tabs {
        margin-top: 50px;
    }
    .panel {
        display: block;
        padding-bottom: 30px;
    }
    .col {
        box-sizing: border-box;
        padding: 30px 30px 0;
    }
    .about {
        display: block;
    }
    .inside-div {
        width: 100%;
        position: relative;
        padding-right: 0;
    }
    .about .blue-section {
        padding: 20px;
        box-sizing: border-box;
    }
    .team-holder {
        display: block;
    }
    .team-holder .t-col .img-holder{
        margin-bottom: 10px;
    }
    .team-holder .t-col {
        margin-bottom: 30px;
    }
    .contact-s .contact-col {
        display: block;
    }
    .contact-s .p-left {
        padding-left: 0;
        margin-top: 20px;
    }
    footer p.copyright {
        float: right;
        margin-top: 0;
        font-size: 12px;
    }
}



